<div class="report-table__amount-picker">
  Show&nbsp;
  {{simple-select
      options=AVAILABLE_ENTITIES_PER_PAGE
      choice=entitiesOnPage
      onchange=(action changeEntitiesOnPage)
  }}
  &nbsp;entities
</div>

{{#light-table table height='387px' as |t|}}

  {{t.head
    onColumnClick=(action onColumnClick)
    iconSortable='fa fa-sort'
    iconAscending='fa fa-sort-asc'
    iconDescending='fa fa-sort-desc'
    fixed=true
  }}

  {{t.body canSelect=false}}

  {{#t.foot fixed=true as |columns|}}
    <tr class="summary-on-page-row">
      {{#each columns as |column|}}
        <td class="lt-column" width={{column.width}}>
          {{column.summaryOnPage}}
        </td>
      {{/each}}
    </tr>
    <tr class="summary-row">
      {{#each columns as |column|}}
        <td class="lt-column" width={{column.width}}>
          {{column.summary}}
        </td>
      {{/each}}
    </tr>
  {{/t.foot}}
{{/light-table}}

<div class="report-table__footer">
  <div class="report-table__info">
    Showing {{inc offset}} to {{limit}} of {{data.length}}
  </div>

  <div class="report-table__page-input">
    Go to page#:&nbsp;{{input keyUp=(action goToPage)}}
  </div>

  {{simple-pagination
      page=page
      totalPages=totalPages
      onPageChange=(action setPage)
  }}
</div>