<li class="simple-pagination__previous">
  {{#if (eq page 1)}}
    <a aria-label="Previous" disabled>
      <span>Previous</span>
    </a>
  {{else}}
    <a {{action onPageChange (dec page)}} aria-label="Previous">
      <span>Previous</span>
    </a>
  {{/if}}
</li>

{{#each rangeWithDots as |p|}}
  {{#if (eq p '...')}}
    <li class="simple-pagination__dots">
      <span>{{p}}</span>
    </li>
  {{else}}
    <li class="{{if (eq p page) 'active'}} simple-pagination__page">
      <a {{action onPageChange p}}>{{p}}</a>
    </li>
  {{/if}}
{{/each}}

<li class="simple-pagination__next">
  {{#if (eq page totalPages)}}
    <a aria-label="Next" disabled>
      <span>Next</span>
    </a>
  {{else}}
    <a {{action onPageChange (inc page)}} aria-label="Next">
      <span>Next</span>
    </a>
  {{/if}}
</li>
